@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://wallpaper-house.com/data/out/9/wallpaper2you_347831.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.middle {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}
